In [62]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df1 = pd.read_csv('data/weather_merignac_daily_raw_1.csv', sep=';', decimal=',')
print('Proportion of missing lines:')
display(df1.isnull().sum()/len(df1))

Proportion of missing lines:

POSTE     0.000000
DATE      0.000000
RR        0.000000
TN        0.000000
TX        0.000000
TM        0.000000
PMERM     0.001118
FF2M      1.000000
INST      0.000000
GLOT      0.395442
GRELE     0.122971
ETPMON    0.000000
dtype: float64

<table class="liste" width="75%" cellspacing="2" cellpadding="2" border="1"><tbody>
<tr><th>Mnémonique</th><th>Libellé</th><th>Unité</th><th>Pas de temps</th></tr>
<tr><td>RR</td><td>HAUTEUR DE PRECIPITATIONS QUOTIDIENNE</td><td>MILLIMETRES&nbsp;ET&nbsp;1/10</td><td>quotidien</td></tr>
<tr><td>TN</td><td>TEMPERATURE MINIMALE SOUS ABRI QUOTIDIENNE</td><td>DEG&nbsp;C&nbsp;ET&nbsp;1/10</td><td>quotidien</td></tr>
<tr><td>TX</td><td>TEMPERATURE MAXIMALE SOUS ABRI QUOTIDIENNE</td><td>DEG&nbsp;C&nbsp;ET&nbsp;1/10</td><td>quotidien</td></tr>
<tr><td>TM</td><td>TEMPERATURE MOYENNE SOUS ABRI QUOTIDIENNE</td><td>DEG&nbsp;C&nbsp;ET&nbsp;1/10</td><td>quotidien</td></tr>
<tr><td>PMERM</td><td>PRESSION MER MOYENNE QUOTIDIENNE</td><td>HPA&nbsp;ET&nbsp;1/10</td><td>quotidien</td></tr>
<tr><td>FF2M</td><td>MOYENNE DES VITESSES DU VENT A 2 METRES QUOTIDIENNE</td><td>M/S&nbsp;ET&nbsp;1/10</td><td>quotidien</td></tr>
<tr><td>INST</td><td>DUREE D'INSOLATION QUOTIDIENNE</td><td>MINUTES</td><td>quotidien</td></tr>
<tr><td>GLOT</td><td>RAYONNEMENT GLOBAL QUOTIDIEN</td><td>JOULES/CM2</td><td>quotidien</td></tr>
<tr><td>GRELE</td><td>OCCURRENCE DE GRELE QUOTIDIENNE</td><td>BOOLEEN</td><td>quotidien</td></tr>
<tr><td>ETPMON</td><td>EVAPO—TRANSPIRATION MONTEITH QUOTIDIENNE</td><td>MILLIMETRES&nbsp;ET&nbsp;1/10</td><td>quotidien</td></tr>
</tbody></table>

In [63]:
df1[df1['GRELE'].isnull()].tail(20)

,POSTE,DATE,RR,TN,TX,TM,PMERM,FF2M,INST,GLOT,GRELE,ETPMON
25913,33281001,20201212,2.4,7.6,12.8,9.2,1010.2,NaN,297,546.0,NaN,1.1
25914,33281001,20201213,0.0,5.8,13.0,9.8,1011.9,NaN,49,309.0,NaN,0.5
25915,33281001,20201214,7.2,8.2,13.6,10.4,1008.4,NaN,78,335.0,NaN,0.9
25916,33281001,20201215,0.0,9.5,13.7,9.9,1013.2,NaN,201,436.0,NaN,1.0
25917,33281001,20201216,0.8,6.5,12.8,9.4,1013.4,NaN,92,394.0,NaN,0.7
25918,33281001,20201217,0.0,7.9,15.7,10.5,1023.2,NaN,317,606.0,NaN,0.8
25919,33281001,20201218,0.0,6.2,10.7,8.1,1019.2,NaN,148,368.0,NaN,0.3
25920,33281001,20201219,1.6,8.0,14.3,10.5,1016.9,NaN,8,268.0,NaN,0.9
25921,33281001,20201220,0.4,7.7,14.7,10.1,1022.5,NaN,363,667.0,NaN,1.0
25922,33281001,20201221,0.6,7.7,14.9,12.4,1023.0,NaN,0,156.0,NaN,0.1
25923,33281001,20201222,0.0,13.0,18.2,14.3,1022.4,NaN,286,522.0,NaN,1.3
25924,33281001,20201223,0.8,11.3,15.4,12.3,1019.5,NaN,0,62.0,NaN,1.4
25925,33281001,20201224,4.2,8.2,12.5,9.0,1022.8,NaN,81,325.0,NaN,1.6
25926,33281001,20201225,0.0,0.7,7.4,3.5,1031.0,NaN,304,545.0,NaN,0.8
25927,33281001,20201226,0.0,-2.6,7.1,2.9,1030.2,NaN,307,628.0,NaN,0.4
25928,33281001,20201227,28.1,4.0,10.5,7.5,999.9,NaN,0,104.0,NaN,0.9
25929,33281001,20201228,15.1,4.6,11.2,7.8,988.0,NaN,24,210.0,NaN,1.1
25930,33281001,20201229,2.8,5.1,9.1,6.4,998.6,NaN,132,372.0,NaN,0.8
25931,33281001,20201230,16.1,2.0,8.9,5.8,1010.5,NaN,140,395.0,NaN,0.2
25932,33281001,20201231,10.1,5.7,8.7,6.6,1007.5,NaN,0,130.0,NaN,0.4

In [64]:
df2 = pd.read_csv('data/weather_merignac_daily_raw_2.csv', sep=';', decimal=',')
print('Proportion of missing lines:')
display(df2.isnull().sum()/len(df2))

Proportion of missing lines:

POSTE    0.000000
DATE     0.000000
FFM      0.000077
DIRT     0.821810
dtype: float64

<table class="liste" width="75%" cellspacing="2" cellpadding="2" border="1"><tbody>
<tr><th>Mnémonique</th><th>Libellé</th><th>Unité</th><th>Pas de temps</th></tr>
<tr><td>FFM</td><td>MOYENNE DES VITESSES DU VENT A 10M QUOTIDIENNE</td><td>M/S&nbsp;ET&nbsp;1/10</td><td>quotidien</td></tr>
<tr><td>DIRT</td><td>RAYONNEMENT&nbsp;DIRECT&nbsp;QUOTIDIEN</td><td>JOULES/CM2</td><td>quotidien</td></tr>
</tbody></table>

In [65]:
df = df1.merge(df2, on = ['POSTE', 'DATE']).drop(['POSTE','FF2M', 'GLOT', 'DIRT'], axis=1)

df['Date'] = pd.to_datetime(df['DATE'].astype(str))
df = df.set_index('Date').drop('DATE', axis=1).rename(
    columns={
        'RR':'P',
        'TN':'Tn',
        'TX':'Tx',
        'TM':'Tm',
        'PMERM':'Pr',
        'INST':'Sun',
        'GRELE':'Hail',
        'ETPMON':'ETPmon',
        'FFM':'Wind'
    })

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25933 entries, 1950-01-01 to 2020-12-31
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P       25933 non-null  float64
 1   Tn      25933 non-null  float64
 2   Tx      25933 non-null  float64
 3   Tm      25933 non-null  float64
 4   Pr      25904 non-null  float64
 5   Sun     25933 non-null  int64
 6   Hail    22744 non-null  float64
 7   ETPmon  25933 non-null  float64
 8   Wind    25931 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 3.2 MB

In [75]:
df.head()

              P   Tn    Tx   Tm      Pr  Sun  Hail  ETPmon  Wind
Date
1950-01-01  0.0  1.2   2.6  2.4  1026.6    0   0.0     0.3   3.5
1950-01-02  0.0  0.4   6.0  2.3  1031.7   96   0.0     0.5   0.9
1950-01-03  1.5 -1.0  11.9  6.4  1025.4   12   0.0     0.1   3.8
1950-01-04  0.3  8.0  10.2  9.0  1022.1    0   0.0     0.6   3.6
1950-01-05  4.0  7.6  10.1  8.3  1018.7    6   0.0     0.3   0.8

# Output to csv

In [79]:
df.to_csv('data/weather_merignac_daily.csv')